main{
    display: flex;
    flex-direction: column;
    border: 1px solid black;

}
.cform{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 500px;
}
h1{
    text-align: center;
}
.btn{
    color: blue;
}